{% extends "layout.html" %}

{% block title %}
Clients page
{% endblock %}

{% block body %}
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <!-- Your Columns HERE -->
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Birthday</th>
    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for client in clients %}
    <tr>
        <td>{{ client.id }}</td>
        <td>{{ client.name }}</td>
        <td>{{ client.gender }}</td>
        <td>{{ client.birth_date }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}