{% extends "layout.html" %}


{% block title %}
Transfer page
{% endblock %}

{% block body %}
<br>
<div class="expand-md">
    <a class="btn  btn-lg btn-outline btn-success btn-primary" href="{{ url_for('new_transfer_page') }}">New Transfer</a>
    <a class="btn  btn-lg btn-outline btn-warning btn-primary" href="{{ url_for('delete_transfer_page') }}">Delete Transfer</a>
</div>
<br>
<table id="data" class="table table-hover table-dark">
    <thead>
    <tr>
        <!-- Your Columns HERE -->
        <th scope="col">ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Receiver</th>
        <th scope="col">Sender</th>
    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for transfer in transfers %}
    <tr>
        <td>{{ transfer.id }}</td>
        <td>{{ transfer.amount }}</td>
        <td>{{ transfer.receiver_id }}</td>
        <td>{{ transfer.sender_id }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% endblock %}


{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>
{% endblock %}