{% extends "layout.html" %}

{% block title %}
Clients page
{% endblock %}

{% block body %}
<br>
<div class="expand-md">
    <a class="btn  btn-lg btn-outline btn-warning btn-primary" href="{{ url_for('delete_user_page') }}">Delete User</a>
</div>
<br>

<table id="data" class="table table-hover table-dark">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('#data').DataTable();
    });
</script>
{% endblock %}